.post-container {
  background-color: #f4f4f4;
  margin-top: 2em;
}

.default-border {
  border: 1px solid #c4c4c4;
  border-radius: 6px;
}

/* post header */

.post-header {
  height: 4.5em;
}

.btn-back {
  margin-top: 1em;
  float: left;
}

.title-container {
  float: left;
  margin-top: 1em;
  margin-left: 1em;
  width: 70%;
}

.post-title {
  font-size: 1.9em;
}

/* post body */

.main-subtitle {
  font-style: italic;
  font-size: 1.8em;
}

.main-content {
  font-style: italic;
  margin-bottom: 1.5em;
}

.post-body {
  padding-bottom: 1em;
  margin-right: 2em;
}

.h3 {
  font-size: 1.5em;
}
