.post-container {
  background-color: #f4f4f4;
  margin-top: 2em;
}

.default-border {
  border: 1px solid #c4c4c4;
  border-radius: 6px;
}

/* post header */

.post-header {
  height: 4.5em;
}

.btn-back {
  margin-top: 1em;
  float: left;
}

.title {
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}

.options {
  float: right;
  margin-top: 1em;
}

/* post body */

.post-body {
  padding-bottom: 1em;
}
