.posts-container {
  background-color: #f4f4f4;
  width: 60%;
  margin: auto;
  margin-top: 2em;
}

.default-border {
  border: 1px solid #c4c4c4;
  border-radius: 6px;
}

.posts-header {
  padding: 1em;
}

.btn-colors {
  border-radius: 99px;
  border: 0;
  color: #fafafa;
}

.btn-home {
  background-color: #9f1f33;
}

.btn-home:hover {
  background-color: #7f0f13;
  color: #fafafa;
}

.btn-explore {
  background-color: #ac727b;
}

.btn-explore:hover {
  background-color: #9f1f33;
  color: #fafafa;
}

.btn-create {
  background-color: #9acc72;
}

.btn-create:hover {
  background-color: #46a465;
  color: #fafafa;
}

.add-sign {
  font-weight: bold;
}

.btn-order-by {
  background-color: #fafafa;
  border: 1px solid #c4c4c4;
  text-align: left;
  float: right;
}

.plus-sign {
  font-size: 0.8em;
}

.order-by-content {
  float: right;
}

.hidden {
  display: none;
  overflow: hidden;
  background-color: #fafafa;
}

.btn-option {
  border: 1px solid #c4c4c4;
  border-radius: 0;
  margin: 0;
}
