.btn-home {
  background-color: #ac727b;
}

.btn-explore {
  background-color: #9f1f33;
}

.post {
  cursor: default !important;
}

.post-title:hover {
  cursor: pointer;
  text-decoration: underline;
}
