.btn-register {
  background-color: #f4f4f4;
  color: #9f1f33;
}

.grey-card {
  background-color: #f4f4f4;
}

.yetid-font {
  font-family: "Metamorphous", cursive;
  font-size: 1.7em;
  margin-bottom: 1em;
}

.username,
.password,
.confirm-password {
  background-color: #d9d9d9;
  color: #565656;
  padding: 10px;
  border: 0;
  font-size: 18px;
  border-radius: 0px;
  width: 100%;
}

.username {
  margin-bottom: 1em;
}

.confirm-password {
  margin-bottom: 1em;
}

.password:focus,
.username:focus,
.confirm-password:focus {
  border: 0 !important;
  outline: none !important;
  background-color: #d9d9d9 !important;
  color: #565656 !important;
}

.form-btn {
  padding: 0.8em;
  border-radius: 90px !important;
  margin-bottom: 1em;
}

.btn-register {
  background-color: #9f1f33;
  color: #f4f4f4;
  border-radius: 0;
  margin-top: 1em;
}

.btn-register:hover {
  background-color: #7a1827;
  color: #f4f4f4;
}

.checkbox {
  float: right;
  margin-left: 550px;
  width: 200px;
  border: 1px solid #d9d9d9;
  color: #565656;
  padding: 3px;
  margin-top: 3px;
  text-align: center;
}

.form-buttons {
  margin-top: 1.2em;
}

.btn-go-to-login {
  margin: auto;
  width: 300px;
  text-align: center;
  border: 0;
  color: #9f1f33;
}

.btn-go-to-login:hover {
  color: #7a1827;
  background-color: #f4f4f4;
}
